/custom_components/smartknob/__pycache__
/custom_components/smartknob/node_modules


/custom_components/smartknob/frontend/node_modules
/custom_components/smartknob/frontend/yarn.lock
/custom_components/smartknob/frontend/pnpm-lock.yaml


/custom_components/smartknob/react-vite-frontend

